/* navbar styles */
.nav-container {
    background: var(--clr-black-90);
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -70px;
  }
  .nav-container.sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    transform: translateY(0%);
    transition: var(--transition);
  }
  .nav-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .nav-links-main {
    display: none;
  }
  .nav-container .logo-section {
    width: 30px;
  }
  .nav-container .hamburger {
    width: 25px;
    display: flex;
    justify-self: flex-end;
  }

  @media screen and (min-width: 992px) {
    .nav-container {
      min-height: 70px;
    }
    .nav-center {
      grid-template-columns: repeat(3, 1fr);
    }
    .nav-container .logo-section {
      width: 50px;
      cursor: pointer;
    }
    .nav-container .hamburger {
      display: none;
    }
    .nav-container .nav-links-main {
      display: flex;
    }
    .nav-container .nav-links {
      display: flex;
      column-gap: 30px;
    }
    .nav-container .nav-link {
      font-size: 16px;
      color: var(--clr-white);
      font-weight: bold;
      text-transform: capitalize;
      letter-spacing: 1px;
      padding: 5px 10px;
      border-radius: var(--radius);
    }
    .nav-container .nav-link.active,
    .nav-container .nav-link:hover {
      transition: var(--transition);
      background: var(--clr-white-light);
      color: var(--clr-black);
    }
    .nav-social-links-main {
      display: flex;
      justify-content: flex-end;
    }
    .nav-social-links-main .nav-social-links {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;
    }
    .nav-social-links-main .nav-social-link {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid var(--clr-white);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .nav-social-links-main .nav-social-link:hover {
      transition: var(--transition);
      transform: translateY(-3px);
    }
    .nav-social-links-main img {
      width: 14px;
    }
  }
  